
<div class='col-5'>
	<input placeholder='Enter a word' type='text' name='name' class='btn' id='user-word-input'></input>
	<button class='btn' id='quick-scan-button' >Quick</button>
	<button class='btn' id='normal-scan-button' >Normal</button>
	<button class='btn' id='moderate-scan-button' >Moderate</button>
	<button class='btn' id='deep-scan-button' >Deep</button>
	<button class='btn' id='reload-button' >Reload</button>
	<hr>
</div>

<div class='col-7'>
</div>

<div class='col-12'>
</div>

<div class='col-4'>
	Here is your word
	<div id="user-word-display" class='btn'></div>
	<hr>
	Here is my guess
	<div id="computer-guess" class='btn'></div>
	<hr>
	Guess info:
	<div id="guess-info" class='btn'></div>
</div>
