<div class='pad'>
</div>

<div class='col-1 font'>
</div>
<div class='col-3 font'>
	<input placeholder='Enter a word' type='text' name='name' class='btn' id='user-word-input'></input>
	<button class='btn' id='reload-button' >Reload</button>
	<hr>
	<strong>Here is your word</strong>
	<div id="user-word-display" class='btn'></div>
	<hr>
	<strong>Here is my guess</strong>
	<div id="computer-guess" class='btn'></div>
	<hr>
	<strong>Guess info:</strong>
	<div id="guess-info" class='btn'></div>
</div>
<div class='col-1'>
</div>	
<div class='col-5 font'>
	<button class='btn submit' id='englishWords-scan-button' >Dictionary Scan</button>
	Scans by using a list of words from an English dictionary
	<hr>
	<button class='btn' id='moderate-scan-button' >Moderate Force Scan</button>
	Scans by guessing all combinations of letters, numbers, and symbols
	<hr>
</div>
<div class='col-1 font'>
</div>

<div class='col-12 pad'>
</div>


<div class='col-1 font'>
</div>
<div class='col-7 font'>
	<h3>Additional Options</h3>
	<h6>Warning: Searches of five letters or more may take many minutes when not in dictionary mode</h6>

	<hr>
	<button class='btn' id='quick-scan-button' >Quick Force Scan</button>
	Scans by guessing only combinations of letters of the alphabet 
	<hr>
	<button class='btn' id='normal-scan-button' >Normal Force Scan</button>
	Scans by guessing all combinations of letters and numbers
	<hr>
	<button class='btn' id='deep-scan-button' >Deep Force Scan</button>
	Scanws by guessing all combinations of letters, numbers, and all symbols listed 
	on a qwerty keyboard
	<hr>
</div>

<div class='col-3 font'>
</div>




	
